@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-family: Montserrat;
}

.tabs {
    display: flex;
    height: 100vh;
    flex-direction: column;
    animation: gradient 12s ease infinite;
	background-image: linear-gradient(135deg, rgb(253, 119, 10),rgb(0, 4, 255));
	flex-grow: 1;
	background-size: 400% 400%;
	min-height: 100vh;
    height: 100%;
    width: 100%;
}

@keyframes gradient {
	0% {
	  background-position: 51% 0%;
	}
	50% {
	  background-position: 50% 100%;
	}
	100% {
	  background-position: 51% 0%;
	}
}

.tabs__head {
    display: flex;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.432);
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding-top: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
	justify-content: right;
	align-items: center;
	transition: 0.5s;
	z-index: 1000;
}
 
.tabs__head button {
	margin: 15px;
}

.tabs__head button:hover{
	background: black;
	scale: 105%;
	transition: 1s;
	border-radius: 10px;
	color: #d392ff;
}

.tabs__head:hover {
	height: 65px;
	transition: 0.5s;
}

.logo {
	font-size: 25px;
	position: relative;
	align-self: left;
	top: 0px;
	left: 15px;
	color: white;
	text-transform: uppercase;
	margin-right: auto;
	flex-shrink: 0;
	padding-right: 15px;
}


.tabs__toggle {
	align-items: center;
    display: flex;
    height: 50px;
	width: auto;
    background: transparent;
	font-weight: bold;
	color: white;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	margin-right: 50px;
	font-size: 20px;
	scale: 100%;
}

.tabs__toggle.is-active {
	color: #d392ff;
    background: black;
}

.tabs__content {
    padding: 30px;
    display: none;
}

.tabs__content.is-active {
    display: block;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

.tabs__text {
    font-size: 36px;
    color: #000;
}

.text {
	position: relative;
	padding: 25px;
	z-index: 10;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.text h2 {
	font-size: 6em;
	font-weight: 800;
	color: #fff;
	line-height: 1em;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 10px;
	
}

.ffade {
	animation: fadein 2s;
}

.text h3 {
	font-size: 4em;
	font-weight: 700;
	color: #fff;
	line-height: 1em;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 15px;
	
}

.about {
	animation: fadein 8s;
}

.secfade {
	animation: fadein 2s;
}

.thirdfade {
	animation: fadein 4s;
}

.fourfade {
	animation: fadein 6s;
}

.text p {
	font-size: 1.1em;
	color: #fff;
	margin: 20px 0;
	font-weight: 400;
	max-width: 700px;
	padding: 5px;
}

.text a {
	display: inline-block;
	font-size: 1em;
	background: #fff;
	padding: 10px 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	margin-top: 10px;
	color: #111;
	letter-spacing: 2px;
	animation: fadein 6s;
	transition: 0.2s;
}

.text a:hover {
	letter-spacing: 6px;
}

.foot {
	position: fixed;
    bottom: 0;
	color: white;
	font-weight: bold;
    width: 100%;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 5px;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.432);
	background-size: 45px;
	transition: 0.5s;
	display: flex;
  	flex-direction: row;
	min-height: 45px;
}

.foot:hover {
	display: flex;
	position: fixed;
	scale: 101%;
	padding-bottom: 15px;
}

.foot p {
	margin-left: 0;
	margin-right: auto;
}

.social {
	margin-left: auto;
	margin-right: 0;
}

.social ul {
	display: flex;
  	font-size: 1.5rem;
  	margin-bottom: 5px;
	padding-left: 50px;
	padding-right: 0px;
}

.icon1{
	display: absolute;
	background-image: webkit;
}


.icon2{
	display: absolute;
}

ul#icons li.icon1 {
	padding-right:20px;
	padding-left:20px;
	list-style-image: url('./icons/insta.png');
}

ul#icons li.icon2 {
	padding-right:20px;
	padding-left:20px;
	list-style-image: url('./icons/linkin.png');
}

ul#icons li.icon3 {
	padding-left: 20px;
	padding-right: 0px;
	list-style-image: url('./icons/disc.png');
}


/* GLOW EFFECTS */
.glow-on-hover {
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
	
}

.glow-on-hover:active:after {
    background: rgba(75, 255, 210, 0.486);
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
}
  
.column {
	flex: 50%;
	padding: 5px;
}
  
.column img {
	padding: 5px;
	vertical-align: -webkit-baseline-middle;
}